# Example configuration
services:
  - name: service01
    strategy: WeightedRoundRobin
    matcher: "/api/v1"
    replicas:
      - url: http://127.0.0.1:8081
      - url: http://127.0.0.1:8082
  - name: service02
    strategy: RoundRobin
    matcher: "/api/v2"
    replicas:
      - url: http://127.0.0.1:8083
      - url: http://127.0.0.1:8084
